
/* Import Fonts */

@font-face {
    font-family: 'AveriaLibre';
    src: url("../fonts/AveriaLibre-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrancoisOne';
    src: url("../fonts/FrancoisOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambay';
    src: url("../fonts/Cambay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* Remove user agent defaults*/
body {
    margin-left: 33vw;
    margin-right: 33vw;
    padding: 0;
    overflow: hidden;
}

.nav {
    display: block;
    position: fixed;
    z-index: 3;
    width: 34vw;
}

/*Site title header*/
h1 {
    font-family: 'Averia Libre';
    color: #0b6623;
    margin: 0px;
    font-size: 1.5vw;
    cursor: pointer;  
    float: left;
    padding-left: 18%   
}

/* Hamburger*/
.hamburger {
    cursor: pointer;
    position: absolute;
    height: 1.5vw;
    padding-top: 10px;
    right: 0;  
    animation: wiggle 5s forwards linear;
    animation-delay: 1.5s;
    animation-iteration-count: 3;
}
/* hamburger animation on load*/
@keyframes wiggle {
0%, 7% { transform: rotateZ(0); opacity: 1; }
15% { transform: rotateZ(-15deg); opacity: 1; }
20% { transform: rotateZ(10deg); }
25% { transform: rotateZ(-10deg); }
30% { transform: rotateZ(6deg); }
35% { transform: rotateZ(-4deg); }
40%, 100% { transform: rotateZ(0); }
}

/*Header image*/
#dogHeader {
    max-width: 33vw;
    margin: 0px;   
}

/*CTA Header style*/
h2 {
    font-family: 'FrancoisOne';
    color: #4056A1;
    font-size: 2.0vw;
    margin: 0px;
    padding-top: 15px;
    text-align: center;
}

/*Give all page content panes a uniform max height/width. This is also ensures transition align properly*/
.wrapper {
    position: relative;
    width: 34vw;
    height: 70vh;
    padding-top: 3vh;   
}

/*Wrapper for page content*/
.page {
    position: absolute;
    width: 100%;
    height: 100%;
}
/*Paragraphy Style*/
p {
    font-family: "Cambay";
    font-size: 1.8vh;
}

/*Images in grid, max-width so they stay within their containers*/
#row1Image {
    max-width: 80%;
}
#row2Image {
    max-width: 80%;
    padding-left: 2.5vw;
}
/*Setup 2 column Grid for homepage*/
.homeGrid {
    display: grid;
    grid-template-columns: 16vw 16vw;
    text-overflow: ellipsis; 
}
#leftPane {
    padding-right: 1vw;
}
#rightPane {
    padding-left: 1vw;
}

/*===Food Form setup===*/

#multistep {
    width: 33vw;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

/* Progress tracker - Only show the first fieldset */

#multistep fieldset:not(:first-of-type) {
	display: none;
}

/* Fieldsets within form*/
#multistep fieldset {
    background: white;
	border: 0 none;
	border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: absolute;
}

/* Progress bar made up of list items*/

/*progress bar*/
#progress {
	margin-bottom: 3px;
	overflow: hidden;
/*    CSS counter to count the list entries */
	counter-reset: step;
}

/* Format the list entries*/
#progress li {
	list-style-type: none;
	color: black;
    font-family: "Cambay";
	font-size: 15px;
	width: 23%;
	float: left;
	position: relative;
}

/* Style the progress bar. Using CSS counter for every occurence of li and incrementing it*/
#progress li:before {
	content: counter(step);
	counter-increment: step;
	width: 25px;
	line-height: 25px;
	display: block;
	font-size: 14px;
	color: black;
    background: white;
	border-radius: 5px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progress li:after {
	content: '';
	width: 100%;
	height: 4px;
	background: grey;
	position: absolute;
	left: -50%;
	top: 11px;
/*    put bar behind the numbers*/
	z-index: -1; 
}

/* We don't want connector bar before the first element*/
#progress li:first-child:after {
	content: none; 
}

/* Changing elements to active colour as we progress through them*/
#progress li.active:before,  #progress li.active:after{
	background: #0b6623;
	color: white;
}

.questionbox {
    width: 30vw;
    height: 45vh;
}

/*autocomplete dropdown styling - this class is added in by jQuery.validate plugin*/
.ui-autocomplete {
    position: absolute;
    border-color: black;
    border-width: 1px;
    border-style: inset;
    border-radius: 3px;
    width: inherit;
    background-color: lightgray;
    font-family: "Cambay";
}

/*form text*/

#multistep p {
    font-family: "Cambay";
    font-size: 17px;
}

/*Form Labels*/
#multistep label {
    display: block;
    font-family: "francoisOne";
    margin: 3px;
    padding: 5px;
}

/*Gender selection checkboxes*/
#multistep .checkbox label {
    display: inline;
}

/* Diet Sliders*/
.sliderBox {
    padding-left: 16%;
    width: 60%;
}

/*Slider number outputs*/
output {
    font-family: "francoisOne";
    position: absolute;
    padding-top: 13px;
}

/*Two main nav buttons on Home page - button effects*/

.btnEfects {
    color: black; 
    background: transparent;
    margin-left: 24%;
    letter-spacing: 1px;
    padding: 8px 10px; 
    font: bold 16px 'Cambay', sans-serif; 
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 8px; 
    box-shadow: inset 2px 2px 20px hsla(232, 91%, 68%, 0.69);
}

/* Transitions*/

.btnEfects:before, .btnEfects:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    /*Mouseover background colour*/
    background: hsla(232, 91%, 68%, 0.69);
    z-index: -1;
    /*Move element out of view        */
    transform: translate3D(0,-100%,0);
    /*Ease out speed*/
    transition: all 0.6s;
}

.btnEfects:after{
    top: 0;
    z-index: -1;
    /*Direction of transition*/
    transform: translate3D(-101%,0,0);
}

.btnEfects:hover:after{
    transform: translate3D(0,0,0);
    /*Ease in speed*/
    transition: all 0.6s;
}

/*next button*/
.next, .finish, button.bth{
    display: block;
    margin-left: 44%; 
    margin-top: 15px;
    border-radius: 4px;
    background-color: hsla(232, 91%, 68%, 1);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 80px;
    padding: 5px;
    cursor: pointer; 
    font: 18px 'Cambay'; 
    letter-spacing: 2px;
}

.next:hover, finish:hover{
    background-color: hsla(232, 91%, 68%, .9);
    box-shadow: 1px 1px 2px grey;
}

/* Form entry elements*/
input[type="text"], select, input {
    margin: 5px;
    padding: 10px;
    border-style: hidden;
    background-color: lightgray;
    font-size: 15px;
}

/*Aligning elements*/
#tags {
    width: 70%;
}

#years, #months {
    width: 35%;
}

#male, #female {
    width: 10%;
}

/*Product Image*/

#foodBag {
    max-width: 50%;
    margin: 0;
    padding-left: 25%;
    padding-top: 2vh;
    transition: 0.8s;
}

#foodBag:hover {
     transform: scale(1.04);
}

/*Input validation class for invalid input - Another jQuery.validate class*/
.invalid {
    background-color: red;
}

/*This class gets added beneath input elements that are invalid (jquery.validate )*/
.error {
    color: red;
    font-size: 14px;
    font-family: "Cambay";
}

/*Red border for input fields that do not validate*/
input[type="text"].error, #tags.error {
    border-color: red;
    border-style: solid;
    box-shadow: 0px 0px 0px 2px red;
    transition: box-shadow 1s linear;
}


/* Hide a jQuery.ui element on autocomplete dropdown*/
.ui-helper-hidden-accessible {
    display: none;
}

/* Custom text margins for product page*/
#finalProduct p {
    padding: 0;
    margin: 10px;  
}

/* Product page accordian*/

.accordion-container{
    max-width: 100%;
    height: auto;
    margin: 10px;  
}

.accordion-container > h2{
    padding-bottom: 8px;
    text-align: center;
    color: black;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

.set{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.set > a{
    font-family: "FrancoisOne";
    letter-spacing: 3px;
    display: block;
    padding: 7px 10px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    transition:all 0.2s linear;
}

.set > a.active{
/*Active accordion title background*/
    background-color:#c24b35;
    color: #fff;
}
.content{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
}
.content p{
    font-family: "Cambay";
    padding: 8px 10px;
    margin: 0;
    color: #333;
}

/* Using custom plus minus images on accordion, setting size and position*/
.fa {
    height: 14px;
    padding-right: 6px;
    position: absolute;
    right: 0;
}

/* Icon animation for accordion*/
.animate {
    animation: pulse 3s;
    animation-timing-function: linear;
    animation-delay: 1.5s;
    animation-iteration-count: 2;
}

@keyframes pulse {
    0%  { transform: scale(1); }
    20% { transform: scale(1.5); }
    40% { transform: scale(1); }
    60% { transform: scale(1.5); }
    80% { transform: scale(1); }
    100%{ transform: scale(1); }
}

/*===MENU===*/

/* jQuery toggles "active" class when menu is clicked */
#myNav.active {
/*  This brings menu into view*/
    height: 100%;
}

/* The Overlay (background) */
.overlay {
    height: 0;
    width: 34vw;
    position: fixed; 
    z-index: 1; 
    overflow: hidden;
    background-color: white; 
    transition: 0.5s; 
}

/* Positioning the content inside overlay */
.overlay-content {
    position: relative;
    top: 5%; 
    width: 100%;
    padding-left: 40%;
    margin-top: 40px; 
}

/* Nav links */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; 
    transition: 0.8s; 
    cursor: pointer; 
}

/* mouse over nav link effect*/
.overlay a:hover, .overlay a:focus {
    color: #c24b35;
}

/* ==== Nutrition page ====*/
.interactive-image {
    background-image: url("../images/287223699.png");
    width: 70%;
    height: 70%;
    margin-left: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    animation: ralph 3s forwards linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
}
/* hamburger animation on load*/
@keyframes ralph {
0%, 7% { transform: rotateZ(0); opacity: 1; }
15% { transform: rotateZ(-1deg); opacity: 1; }
20% { transform: rotateZ(1deg); }
25% { transform: rotateZ(-1deg); }
30% { transform: rotateZ(1deg); }
35% { transform: rotateZ(-1deg); }
40%, 100% { transform: rotateZ(0); }
}

/* ==== About page ====*/

/*Image slider*/
#slideContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60vh;
}

/*fill container*/
#slides {
    width: 100%;
    height: 100%;
}


#slideContainer #slides {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}
#slideContainer #slides li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Arrow button positions*/
#slideContainer #btn-prev, #btn-next {
    position: absolute;
    top: 90%;
    z-index: 50;
    transform: translateY(-50%);
}
/*Arrow image size*/
.arrow {
    height: 2vw;
/*    transition-duration: 0.2s;*/
    animation: arrows 4s forwards linear;
    animation-delay: 2s;
    animation-iteration-count: 2;
}
/* arrow animation on load*/
@keyframes arrows {
    0% {transform: scale(1);  }
    20% {transform: scale(1.4);}
    40% {transform: scale(1);}
    60% {transform: scale(1.4); }
    80% {transform: scale(1); }
    100% {transform: scale(1); }
}

/*Arrow hover effect*/
.arrow:hover {
    transform: scale(1.3);
}

#slideContainer #btn-next {
    left: 15px;
}

#slideContainer #btn-prev {
    right: 15px;
}

#slides span {
    font-family: "Cambay";
    font-size: 1.8vh;
}
/*
#slideContainer #slides li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: blue;
}
*/

/*Caption position*/
/*
#slideContainer #slides li a span {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: ;
    font-size: ;
    background: white;
}
*/
/* Nav arrows*/


/*Copyright info in footer*/
#copyright {
    padding-top: 19vh;
    font-size: 12px;
}